extends ../layout.jade
block contenido
	div(class="col-md-5 center-block quiter-float espacio-arriba text-left")
		h1 Agregar Producto
		form(method="post" action="/productos" enctype="multipart/form-data" style="margin-top:1.5em" )
			div(class="form-group")
				label Nombre
				input(type="text" name="title" placeholder="Nombre del producto" class="form-control")
			div(class="form-group")
				label Descripcion
				textarea(name="description" placeholder="Descripcion del producto" class="form-control")
			div(class="form-group")
				label Contraseña
				input(type="password" name="password" placeholder="Introduzca la contraseña" class="form-control")
			div(class="form-group")
				label Costo
				input(type="number" name="pricing" placeholder="Nombre del producto" class="form-control")
			div(class="form-group")
				label Imagen del Producto
				input(type="file" name="photo" class="form-control")
			div(class="form-group text-right")
				input(type="submit" class="btn btn-info" value="Guardar")

				
				
