extends .\layout.jade
block contenido
	section
		div(class="col-md-7 center-block quiter-float text-center espacio-arriba")
			h1(class= "lobster grande crema") Contacto
			p Av. Mariscal Santa Cruz
			p Escribenos
				a(href="https://www.google.com/") Aqui
			iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1048.9707215715932!2d-68.13331402806362!3d-16.501846765691518!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xd8652540f49b06a6!2sDumbo!5e0!3m2!1ses-419!2sbo!4v1470685725901" width="800" height="600" frameborder="0" style="border:0" allowfullscreen) 