doctype html
html(lang="en")
	head
		title Mi Primera Pagina Web
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" media="screen" title="no title" charset="utf-8")
		link(rel="stylesheet" href="/CSS/main.css" media="screen" title="no title" charset="utf-8")
		link(href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css")
		link(href="https://fonts.googleapis.com/css?family=Roboto:300" rel="stylesheet" type="text/css")
		link(rel="stylesheet" type="text/css" href="CSS/animate.css")
	body
		div(class="col-md-7 center-block quiter-float text-center espacio-arriba ")
			img(src="img/desktop.jpg" class="animated fadeIn" alt="")
			h1(class="grande lobster plomo animated retraso2 fadeIn") Tienda Computadoras
			h2(class="mediano micro-espacios animated retraso2 fadeIn") Consigue desde Laptops hasta computadoras Desktop y muchos accesorios
			nav(class="small micro-espacios animated retraso3 fadeIn")
				a(href="/productos" class="espacio-derecha") Productos
				a(href="https://www.facebook.com/" class="espacio-derecha") Facebook
				a(href="acercaDe.html" class="espacio-derecha") Acerca de
				a(href="/contacto" class="espacio-derecha") Contacto
