doctype html
html(lang="en")
	head
		title Mi Primera Pagina Web
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" media="screen" title="no title" charset="utf-8")
		link(rel="stylesheet" href="/CSS/main.css" media="screen" title="no title" charset="utf-8")
		link(href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css")
		link(href="https://fonts.googleapis.com/css?family=Roboto:300" rel="stylesheet" type="text/css")
		link(rel="stylesheet" type="text/css" href="CSS/animate.css")
	body
    
		nav(class="se-gris large-padding")
			ul(class="no-lista row text-center")
				li(class="col-md-4 col-xs-12 block-inline small lobster crema")
					a(href="/" class="crema") Tienda Computadoras #[small(class="lobster small2") Vive al Maximo!]
				li(class="col-md-4 col-xs-12 block-inline small")
					a(href="/contacto") Contacto
				li(class="col-md-4 col-xs-12 block-inline small")
					a(href="acercaDe.html") Acerca De

		block contenido